.todo-list-item-container {
  background-color: #FFF;
  width: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  box-shadow: 0 0 1px 0 #12033E1A, 0 1px 1px 0 #12033E1A;
}

.todo-list-item-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.todo-list-item-description {
  line-height: 18px;
  color: #001C39;
}

.todo-list-item-actions {
  display: flex;
  gap: 12px;
}